.uk-card-default {
  background-color: lemonchiffon;
  opacity: 0.9;
}

.uk-card uk-card-default uk-card-body {
  background-color: lemonchiffon;
}
.uk-card uk-card-default uk-card-body::hover{
  opacity: 1;
}

#footer {
  margin: auto;
  background-color: lemonchiffon;
  height: 75px;
  padding-top: 30px;
  padding-left: 15px;
  color: rgb(32, 85, 123);
  text-align: center;
}

#checklist{
  /*margin-top: 50px;*/
}

.checklist-container{
  padding-left: 35px;
  text-align:left;
}
ul#list {
  list-style-type: square;
  padding-left: 20px;
}

#navstyle {
  height: 100px;
}

.uk-position-top-right{
  margin-top: 200px;
}

.uk-position-top-left{
  /*margin-bottom: 200px;*/
}
.uk-position-bottom-right{
  margin-top: 200px;
}

.uk-position

#memediv {
  /*margin-top: 700px;*/

}
#logo {
  height: 200px;
  width: 400px;
}
#workoutdiv {
/*  margin-top: 75px;
  margin-bottom: 20px;*/
  }

.headers {
color: rgb(32, 85, 123);
font-family: 'Special Elite', cursive;
background-color: lemonchiffon;
text-align: center;
}

#workouts {
  /*padding-left: 20px;*/
  /*margin-top: 50px;*/
}

#navstyle {
background-color: lemonchiffon;
/* margin-left: none;
margin-right: none;  */
}

.uk-card {
  margin-right: 15px;
  background-color: lemonchiffon;
}
.wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  height: 1500px;
}

.uk-heading-bullet{
color: rgb(32, 85, 123);
  text-align:right;
  padding-bottom: 25px;
}

.mySlides {
  /*padding-left: 50px;*/
  /*padding-top: 20px;*/
}
#map {
  margin-left: 35px;
}

#exp{
  -background-image: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
};
body {
  /* background: #eee;
  color: #444; */
  font-family: 'Helvetica', arial, sans-serif;
}

.container {
  background: #fff;
  max-width: 600px;
  width: 100%;
  display: table;
  margin: 0 auto;
  margin-top: 40px;
  border: 1px solid #cfcbcc;
}

input {
  border: none;
  display: block;
  width: 98.4%;
  line-height: 1.5;
  padding: 8px 0 8px 10px;
  border-bottom: 1px solid #cfcbcc;
  outline:0;
}

h1,h2 {
  text-align: center;
  margin-bottom: 0px;
  line-height: 1;
}
h2 {
  color: gray;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    color: #899098;
    font-weight: 400;
    border-bottom: 1px solid #cfcbcc;
    line-height: 1.5;
    padding: 8px 0;
    &:before {
      content: "\25A1";
      padding: 10px 10px;
      font-size: 20px;
    }
    &:hover {
      text-decoration: line-through;
      cursor: pointer;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

/*uk-position-top-right*/
.padding{
  /*margin: 25px;*/
}
.mySlides {display:none;
  max-height: 300px;
}
        . {display:none;}

.checked {
  color:green;
    &:before {
      content: "\2713";
      padding: 10px 10px;
      font-size: 20px;
    }
    &:hover {
      text-decoration: none;
      &:after {
        content: "(remove)";
        color: tomato;
        text-align: right;
      }
    }
}
